* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

main {
  background: #bada55;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  height: 100%;
  position: relative;
}

.controls {
  display: flex;
  padding: 1.5rem;
}

.control {
  margin-right: 1rem;
}

.control label {
  display: block;
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.control input {
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  width: 3rem;
  border: 0.15rem solid #333;
}

.control input:focus, .control input:focus-visible {
  outline: 0.1rem solid #202020;
}

.count_button {
  width: 10rem;
  height: 10rem;
  background: #e7b136;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 1px 1px 4px 2px #557668;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  transition: box-shadow 300ms ease-out;
}

.count_button:active {
  box-shadow: none;
  box-shadow: 1px 1px 1px 1px #557668;
}

.count_button:focus {
  outline: 0.15rem solid #202020;
}

.count_button .current_count {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}